@using SaloonSys.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);
    var isAdmin = User.IsInRole("Admin");
}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Fryzjernia</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/Appointments/Create">Rezerwacja</a>
                </li>

                @if (SignInManager.IsSignedIn(User))
                {
                    @if (isAdmin)
                    {
                        <li class="nav-item">
                            <a class="nav-link @(ViewContext.RouteData.Values["controller"]?.ToString() == "Admin" ? "active" : "")"
                               href="/Admin/Calendar">
                                📅 Panel Admin
                            </a>
                        </li>
                    }

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown">
                            👤 @user?.Email
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li><a class="dropdown-item" href="/Identity/Account/Manage">Moje konto</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li>
                                <form method="post" action="/Identity/Account/Logout">
                                    <button type="submit" class="dropdown-item">Wyloguj</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Login">Zaloguj</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Identity/Account/Register">Rejestracja</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>
